<div class="top"></div>
<div class="bg__img">
    <img src="/img/fondo-tarjeta.jpg" alt="" class="bg__img--img">
    <img src="/img/img-fondo-mov.jpg" alt="" class="bg__img--mov">
</div>
{{> message}}
<div class="video">
    {{!-- <iframe src="/img/img-video.jpg" frameborder="0" class="video-in"></iframe> --}}
    <video class="video-in" controls preload autoplay poster="/img/img-video.jpg">
        <source src="https://files.catbox.moe/jzu5yu.mp4" type="video/mp4">
    </video>
    {{!-- <iframe src="https://files.catbox.moe/jzu5yu.mp4" poster="/img/img-video.jpg" class="video-in" title="YouTube video player"
        frameborder="0"></iframe> --}}
</div>

<div class="audio container text-center">
    <div class="audio-cont">
        <h3 class="audio__title">Reproduce para una mejor experiencia:</h3>
        <audio id="au" width="480" controls preload>
            <source src="/audio/carlos-vives-cumbiana.mp3" type="audio/mp3">
            <source src="/audio/carlos-vives-cumbiana.ogg" type="audio/ogg">
            Tu navegador no soporta audio HTML5.
        </audio>
    </div>
</div>

<div class="container" style="margin-top: 80px;">
    <div class="card__header card">
        <p class="body--text">
            Queremos darle un nuevo significado a nuestra historia de amor. Por eso hoy con el corazón lleno de ilusión
            y felicidad Dios y la virgen nos darán la gracias de permanecer juntos en su bendición.
        </p>
        <h1 class="card__footer">Queremos que seas testigo de nuestro amor ante Dios</h1>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card__header contador--header">
            <h2>5 de agosto, 2023</h2>
        </div>
        <div class="contador__fecha">
            <div class="contador--count">
                <div class="responsivo1">
                    <div class="cartel">
                        <div class="dias" id="dias"></div>
                        <p class="timer">Días</p>
                    </div>
                    <div class="cartel">
                        <div class="horas" id="horas"></div>
                        <p class="timer">Horas</p>
                    </div>
                </div>
                <div class="responsivo2">
                    <div class="cartel">
                        <div class="minutos" id="minutos"></div>
                        <p class="timer">Minutos</p>
                    </div>
                    <div class="cartel">
                        <div class="segundos" id="segundos"></div>
                        <p class="timer">Segundos</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="card">
        <div class="card__header iglesia__header">
            <h2>Ceremonia y Recepción</h2>
        </div>
        <div class="iglesia__img">
            <img src="/img/iglesia.png" alt="" class="iglesia__img--png">
        </div>
        <div class="card__body">
            <p class="card__body--text">
                Sambehotel<br>
                Moñitos, Córdoba<br>
            </p>
        </div>
        <div class="card__footer">
            <p class="card__footer--info">
                <strong>7:00 p.m.</strong>
            </p>
            <a href="https://goo.gl/maps/ribaaLLaDwMr9HxB8" rel="nofollow" target="_blank" class="contact__wp">CÓMO
                LLEGAR</a>
        </div>
    </div>
</div>

{{> galeria }}

<div class="container">
    <div class="card__header card">
        <h2 class="card__header">Código de<br>Vestimenta</h2>
        <div class="iglesia__img">
            <img src="/img/pareja.png" alt="" class="iglesia__img--png">
        </div>
        <div class="dc d-flex">
            <div class="dress__code">
                <h3 class="dress__code--title">Mujeres:</h3>
                <p class="dress__code--content">
                    Vestido playero que no sea blanco o negro y pies descalzos
                </p>
            </div>
            <div class="dress__code">
                <h3 class="dress__code--title">Hombres:</h3>
                <p class="dress__code--content">
                    Camisa guayabera (no blanca), shorts y pies descalzos.
                </p>
            </div>
        </div>
    </div>
</div>

{{> protocolo }}

<div class="container dvid" style="margin-bottom: 40px;">
    <div class="card__header card">
        <h2 class="card__header">Video Recuerdo</h2>
        <p class="body--text">
            Descarga el video de recuerdo en el siguiente botón
        </p>
        <a href="/video/video-invitacion.mp4" download target="_blank" class="download__vid">Descargar Video
            Recordatorio</a>
    </div>
</div>

<div class="container adv" style="margin-bottom: 40px;">
    <div class="card__header card">
        <p class="body--text">
            Por razones de seguridad y por que los queremos despreocupados hasta el final de la fiesta, esta será solo
            para adultos, ¡Aunque nos gusten los niños! así que será noche de nana. Y fiesta para los papitos.
        </p>
    </div>
</div>

<div class="container adv" style="margin-bottom: 40px;">
    <div class="card__header card">
        <h2 class="card__header">Para tener en cuenta:</h2>
        <div class="body--text">
            <ul class="adv__list">
                <li class="adv__item">
                    <p class="adv__link">Lluvia de sobres</p>
                </li>
                <li class="adv__item">
                    <p class="adv__link">Confirmar antes del 15 de julio</p>
                </li>
            </ul>
        </div>
    </div>
</div>

{{> footer }}